<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Chat</title>
  </head>
  <body>
    <h3>Edit the Message</h3>
    <h4>You are edit the message of <%= chat.from %> to <%= chat.to %></h4>
    <textarea name="message" rows="10" cols="30"><%= chat.message %></textarea
    ><br /><br />
    <button type="submit">Send</button>
  </body>
</html>
