<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello</h1>
    <h3><%= 1+3 %></h3>
    <h3><%= "taimoor".toUpperCase() %></h3>
    <h3><%= [1,23,3,5,56][3] %></h3>
    <%# This is a comment in EJS %>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
      consequatur perspiciatis ullam cumque, eos libero veniam eveniet. Eaque
      debitis totam conse ctetur reprehend erit molestiae laboriosam quaerat
      aspernatur sapiente dicta, expedita perferendis!
    </p>
    <button>Click me</button>
  </body>
</html>
