<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram EJS</title>
  </head>
  <body>
    <p>UserName: <%= username %></p>
    <button>Follow</button>
    <button>Message</button>

    <h4>Accounts follow you</h4>

    <% for(let name of followers) { %>
    <li><%= name %></li>
    <% } %>
  </body>
</html>
