<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <form method="post" action="http://localhost:8080/posts">
      <input type="text" placeholder="Username" name="username" required />
      <br />
      <br />
      <br />
      <textarea
        type="text"
        maxlength="200"
        minlength="1"
        draggable="true"
        name="content"
        placeholder="Description"
        required
      ></textarea>
      <br />
      <br />
      <button type="submit">Create Post</button>
      <br />
    </form>
  </body>
</html>
