<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h3 class="post">All Posts</h3>
    <button>
      <a href="http://localhost:8080/posts/new">Create New Post</a>
    </button>
    <% for(let post of posts) { %>

    <div class="posts">
      <h4>@<%= post.username %></h4>
      <p><%= post.content %></p>
      <button>
        <a href="http://localhost:8080/posts/<%= post.id %>">See detail</a>
      </button>
    </div>

    <% } %>
  </body>
</html>
