<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Here is the detail of the post</h2>
    <h3>User:<%= post.username %></h3>
    <h3>PostId:<%= post.id %></h3>
    <h4>Description:<%= post.content %></h4>
  </body>
</html>
