<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <h2>Edit the Post</h2>
    <p>PostID:<%= post.id %></p>
    <p>Username:<%= post.username %></p>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
      <textarea
        rows="5"
        cols="40"
        type="text"
        maxlength="200"
        minlength="1"
        draggable="true"
        name="content"
        placeholder="Description"
        required
      >
<%= post.content %></textarea
      >
      <br />
      <br />
      <button type="submit">Update Post</button>
    </form>
  </body>
</html>
