<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h3>All Users</h3>
    <form action="/user" method="get">
      <input
        type="text"
        name="username"
        placeholder="Search User"
      /><br /><br />
      <button type="submit">Search</button>
    </form>

    <% if(users) {%>
    <table>
      <tr>
        <th>Username</th>
        <th>Id</th>
        <th>Email</th>
        <th></th>
      </tr>
      <% for(let user of users) { %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>
          <button>
            <a href="http://localhost:8080/user/<%= user.id %>/edit">Edit </a>
          </button>
        </td>
      </tr>
      <% } %>
    </table>

    <% } else {%>
    <p>No User Found....</p>
    <% }%>
  </body>
</html>
